# FinMind API 個人 Token，於 https://finmindtrade.com/ 註冊後取得
FINMIND_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1c2VyX2lkIjoiYW5uMTIzNDU1NUBnbWFpbC5jb20iLCJlbWFpbCI6ImFubjEyMzQ1NTVAZ21haWwuY29tIiwidG9rZW5fdmVyc2lvbiI6MH0.7bcmBsz2Z-Iux8BF_PSiuIp7yLlgqM1Gun_9mIDwx5k

# LINE Messaging API 的 Channel Access Token 與 Channel Secret
# 於 LINE Developers Console > Messaging API 頁籤取得
#INE_CHANNEL_ID=2010887933
LINE_CHANNEL_ACCESS_TOKEN=a93edfcf1f6e202aa2e8b8939fbd7756
LINE_CHANNEL_SECRET=OhdlmquGrYG0/ffNLzRr3KOyP2gLYMAy+pc/H775i2SKVbWAVikuapYOpAlmunyKGoEO20jade7/snkYMTk3qf04IilrN+0mknza32nkRMtqMcvscHa9l0QmkLwDob/uQNryNaLcDuT4F+Ghnc3daQdB04t89/1O/w1cDnyilFU=
